* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.navbar {
	
	padding: 0px 10px;
	box-shadow: 0 3px 6px rgba(200,200,200,0.5);
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 50;
}

.navbar .sm-device {
	display: none;
}

#logo-container {
	float: left;
	border: 1px solid black;
	height: 46px;
	width: 100px;
	margin: 2px 4px;
}

.navigation-item,
.dropdown-menu-item {
	list-style-type: none;
}

.dropdown-menu-item .navigation-links { 
	border-radius: 0;
}

.navbar-navigation,
.navigation-item {
	display: inline-block;
}

.navigation-item {
	padding: 10px 0px;
}

.navigation-links {
	text-decoration: none;
	font-family: calibri;
	display: block;
	padding: 5px 20px;
	border-radius: 50px;
	font-weight: bold;
	color: black;
}

.navigation-links:hover {
	color:  white;
	background-color: #EB3349;
}

.dropdown-menu .navigation-links:hover {
	background-color: #EB3349;
}

.dropdown-menu {
	position: absolute;
	display: none;
	background-color: #fff;
	box-shadow: 0 0 4px rgba(0,0,0,0.2);
	border: 0.05rem solid #eee;
	margin-top: 2px;
}

.dropdown:hover .dropdown-menu{
	display: block;
}

.navigation-right {
	float: right;
}

.navigation-right .dropdown-menu {
	right: 0;
}

.active-menu-item {
	background-color: #EB3349;
	color: white;
}

/* For Mobile device */
@media only screen and (max-width: 900px) {

.navbar .sm-device {
	display: block;
}

.hide {
	height: 0px;
}

.navbar {
	padding: 0;
	overflow: hidden;
	box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

#header {
	display: block;
	padding: 5px 10px;
	overflow: hidden;
	background-color: rgba(251,211,233,0.4);
}

#menu-icon {
	float: right;
	font-size: 20px;
	font-family: calibri;
	font-weight: 500;
	color: #EB3349;
	text-decoration: none;
	padding: 6px 10px;
	margin: 2px 0px;
	border: 0.15rem solid #EB3349;;
	border-radius: 5px;
}

#menu-icon:hover {
	background-color: #EB3349;
	color: white;
}

#logo-container {
	float: left;
	padding: 0;
	margin: 0;
}

.navbar-navigation,
.navigation-item {
	display: block;
}

.navigation-item {
	padding: 0;
}

.navigation-links {
	padding: 10px 20px;
	border-radius: 0px;
}

.navbar .menu-icon {
	float: right;
}

.dropdown-menu {
	position: relative;
	width: 100%;
	background-color: #efefef;
}

.lg-device {
	display: none;
}

}