@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap');

body, nav ul {
	padding: 0;
	margin: 0;
}

nav {
	overflow: hidden;
	box-shadow: 0 2px 6px rgba(150,150,150,0.3);
}

/* removing the bullets from lists */
nav li{
	list-style-type: none;
}

/* to change style of all navigation bar links */
nav li a {
	text-decoration: none;
	color: #000;
	font-weight: 600;
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
}

#top-navbar {
	padding: 4px 10px;
	background-color: #fff;
	scroll-behavior: smooth; 
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
}

#top-navbar::-webkit-scrollbar {
  display: none;
}

#top-navbar > li {
	display: inline-block;
}

#top-navbar .sm-device {
	display: none;
	font-family: 'Nunito', sans-serif;
}

#top-navbar li a {
	display: block;
	padding: 4px 20px;
	border-radius: 60px;
}

#top-navbar li a:hover {
	background-color: slategray;
}

.dropdown-menu {
	position: absolute;
	display: none;
	box-shadow: 0 2px 8px rgba(100,100,100,0.3);
	border-radius: 10px;
	overflow: hidden;
}

#top-navbar .dropdown-menu li a{
	border-radius: 0px;
	background-color: #fff;
}

#top-navbar .dropdown-menu li a:hover {
	background-color: slategray;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.menu-right {
	float: right;
}

#top-navbar .menu-right > a{
	font-size: 24px;
	padding: 0px;
} 

.menu-right .dropdown-menu {
	right: 5px;
}




/* For smaller screen */
@media screen and (max-width: 799px) {

#top-navbar .sm-device {
	display: block;
} 

#top-navbar {
	padding: 0px;
	height: 45px;
	transition: height 0.5s;
	overflow-x: auto;
}

#top-navbar li {
	display: block;
	z-index: -1;
}

#top-navbar > li:first-child {
	position: sticky;
	top: 0;
	z-index: 2;
}

#top-navbar li a {
	border-radius: 0px;
	padding: 10px 0px 10px 20px;
}

#top-navbar .menu-right {
	display: none;
}

.dropdown-menu {
	position: relative;
	display: none;
	box-shadow: none;
	border-radius: 0px;
	
}

#top-navbar .dropdown-menu li a{
	background-color: #eee;
}

}